.home {
  row-gap: 32px;
  margin: auto 0;

  svg {
    width: 80px;
    height: auto;
  }
}

.input {
  text-align: center;
  font-size: 18px;

  outline: none;
  width: 572px;
  padding: 16px 24px;
  border-radius: 10px;
  border: 2px solid transparent;
  background: var(--background-light);

  &::placeholder {
    color: var(--text-dark);
  }

  &:focus {
    border-color: var(--link);
  }
}

.users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;

  list-style: none;
}