.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 120px;
  border-bottom: 1px solid var(--text-dark);
}

.user {
  display: flex;
  align-items: center;
  column-gap: 10px;

  .user__avatar {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
  }

  .user__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2px;

    strong {
      font-size: 16px;
    }

    span {
      font-size: 14px;
      color: var(--text-dark);
    }
  }
}

.signOut {
  padding: 4px 20px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid var(--link);

  font-size: 16px;
  font-weight: bold;
  color: var(--link);

  transition: all 0.4s;

  &:hover {
    color: var(--text);
    background: var(--link);
  }
}