.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

.card {
  width: 100%;
  max-width: 500px;

  overflow: hidden;
  border-radius: 20px;
  background: var(--background-light);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 30px rgba(0, 0, 0, 0.22);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  padding: 40px 64px 32px;

  h1, p, h2 {
    text-align: center;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2, p {
    font-size: 20px;
    line-height: 24px;
  }

  h2 {
    font-weight: 500;
  }

  p {
    display: flex;
    align-items: center;
    column-gap: 6px;

    color: var(--text-dark);

    svg {
      width: 20px;
    }
  }
}

.user__avatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;

  margin-bottom: 12px;
}

.card__footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 24px;

  padding: 32px 32px 40px;
  background: var(--background-dark);

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;

    list-style: none;

    li {
      display: flex;
      align-items: center;
      column-gap: 6px;

      opacity: 0.8;
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;

      svg {
        width: 28px;
        height: auto;

        color: #FFEA00;
      }
    }
  }
}

.card__links {
  display: flex;
  column-gap: 16px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--link);
    text-decoration: none;

    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--link);

    transition: all 0.4s;

    &:hover {
      color: var(--text);
      background: var(--link);
    }
  }
}